@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;

    text-decoration: none;
    border: none;
    outline: none;
    cursor: none;
    user-select: none;

    /*font-family: 'Playfair Display', serif;*/
    font-family: 'HelveticaNeueCyr', serif;
    box-sizing: border-box;
}

/*hiScreen*/

body {
    background-color: #FDF7E5;
    overflow-x: hidden;
}

.logo {
    width: 100px;
    margin: 0 auto;
}

.logoImg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

header {
    padding: 40vh 15vw;
    background: url("../images/bg.jpg") no-repeat center right;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBtn {
    padding: 15px 30px;
    width: 250px;
    text-align: center;
    background: #73CBBF;
    white-space: nowrap;
    align-items: center;
    transition: .1s linear;

    border-radius: 10px;
    margin-top: 35px;

    display: flex;
    color: white;
}

.headerBtn:hover {
    background: #67b8ac;
    transition: .1s linear;
}

.headerBtnImg {
    width: 25px;
    height: 25px;

    margin-left: 25px;
}

header h1 {
    font-size: 3.5em;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

header p {
    font-size: 22px;
}

header p a {
    color: #404040;
}

header p a:hover {
    text-decoration: underline;
}

header img {
    width: 100%;
    height: auto;
}

/*main*/

main {
    padding: 0 5vw;
    background: #fff;
}

.product {
    width: 45vw;
    height: 55vh;
    position: relative;
    top: -50px;

    background-image: url("../images/123.png");
    background-color: #70C7BA;
    background-size: 115%;
    background-position: right center;
    background-repeat: no-repeat;
}

.productDesk {
    width: 250px;
    height: 250px;
    top: 35%;
    left: 85%;

    background: rgb(222, 132, 121);
    transition: .1s linear;
    color: #fff;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 0 20px -4px rgba(0,0,0,0.3);
    border: 1px solid #cb7b70;
}

.productDesk:hover {
    background: rgb(234, 141, 130);
    transition: .1s linear;
}

.productTitle {
    font-weight: 200;
    font-family: 'Playfair Display', serif;
}

.productSubTitle {
    font-size: 14px;
    max-width: 150px;
    margin: 15px auto;
}

.productLink img {
    width: 25px;
    height: 25px;
}

.productLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: white;
}

.productLink:hover {
    text-decoration: underline;
}

.productLink p {
    color: #fff;
    margin-right: 15px;
}



/*components*/

.components {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding-bottom: 2.5%;
}

.component1 {
    width: 35vw;
    height: 40vh;

    background: url("../images/components2.png") center center no-repeat;
    background-size: cover;
}

.component2 {
    width: 35vw;
    height: 45vh;

    background: url("../images/components1.png") center center no-repeat;
    background-size: cover;
}

.componentLink img {
    width: 25px;
    height: 25px;
}

.componentSubTitle {
    font-size: 14px;
    max-width: 150px;
    margin: 15px auto;
}

.componentDesk {
    width: 250px;
    height: 250px;
    margin: 0 2.5vw;

    background: #DFB468;
    transition: .1s linear;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 0 20px -4px rgba(0,0,0,0.3);
    border: 1px solid #d2d2d2;
}

.componentDesk:hover {
    background: #e8bb6c;
    transition: .1s linear;
}

.componentLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.componentLink p {
    color: #fff;
    margin-right: 15px;
}

.componentLink:hover {
    text-decoration: underline;
    color: #fff;
}

.componentTitle {
    font-weight: 200;
    font-family: 'Playfair Display', serif;
}



/*contacts*/

.contactIcons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 250px;
    padding: 2.5% 0 5% 0;
}

.contactTitle {
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    font-family: 'Playfair Display', serif;

}

.iconElem {
    width: 25px;
    height: 25px;
}

/*bio*/

.bio {
    padding: 5% 15vw;
}

.bio a {
    color: #404040;
}

.bio a:hover {
    text-decoration: underline;
}

.bioTitle {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 25px;

    font-family: 'HelveticaNeueCyr', serif;
}

.bioText {
    font-size: 22px;
    font-family: 'HelveticaNeueCyr', serif;
}


/*footer*/

footer {
    padding: 1vh 5vw;
    color: #9E9E9E;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

/*adaptive*/

@media screen and (min-width: 2560px) {
    header {
        background-size: 60%;
    }

    .headerText h1 {
        font-size: 6.5em;
    }

    header p {
        font-size: 32px;
    }

    .headerBtn {
        width: 320px;
    }

    header a img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    header {
        background: url("../images/bg.jpg") top center  no-repeat;
        background-size: 60%;
    }

    .bio {
        padding: 5% 5vw;
    }
}


@media screen and (max-width: 425px) {
    header {
        background: url("../images/bg.jpg") top center  no-repeat;
        background-size: 100%;
        padding: 40vh 15vw 15vh 15vw;
    }

    .product {
        width: 90vw;
        height: 35vh;

        background-position: center right;
    }

    .productDesk {
        width: 250px;
        height: 250px;

        top: 30%;
        left: 10%;

        padding: 5%;
    }

    .components {
        flex-direction: column;
    }

    .component1 {
        width: 75vw;
        height: 30vh;
        margin-bottom: -20%;
    }

    .component2 {
        width: 75vw;
        height: 20vh;
        align-self: flex-start;
    }

    .componentDesk {
        margin-bottom: -20%;
        z-index: 100;
    }

    .bioTitle {
        font-size: 26px;
    }

    .bioText {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    header h1 {
        font-size: 2.75em;
    }

    header p {
        font-size: 18px;
    }

    .headerBtn {
        width: 220px;

    }

    .productDesk,
    .componentDesk {
        width: 220px;
        height: 220px;
    }

    .component1 {
        margin-top: 50px;
    }

    .component2 {
        margin-bottom: 50px;
    }
}








